extends layout

block content
    .w3-card-4
        header.w3-container.w3-black
            h2= item.sigla
    .w3-container
        p 
            b Estado 
            = item.estado
        p 
            b Designação 
            = item.designacao
        p 
            b Sigla 
            = item.sigla
    hr
    .w3-container
        .w3-card-4
            header.w3-container.w3-blue
            h1 Lista de Entidades pertencentes à Tipologia
            .w3-container
            table.w3-table-all
                tr.w3-hover-blue
                    th Sigla
                    th Designação
                    th ID
                each f in elem
                    tr.w3-hover-blue
                        td= f.sigla
                        td= f.designacao
                        td
                            a(href="/entidades/" + f.id) 
                                =f.id
    hr 
    .w3-container
        .w3-card-4
            header.w3-container.w3-blue
            h1 Lista de Processos de que Tipologia é dona
            .w3-container
            table.w3-table-all
                tr.w3-hover-blue
                    th Código
                    th Título
                    th ID
                each o in owner
                    tr.w3-hover-blue
                        td= o.codigo
                        td= o.titulo
                        td= o.id
    hr
    .w3-container
        .w3-card-4
            header.w3-container.w3-blue
            h1 Lista de Processos de que Tipologia é Participante
            .w3-container
            table.w3-table-all
                tr.w3-hover-blue
                    th Código
                    th Título
                    th ID
                    th Tipo 
                each o in part
                    tr.w3-hover-blue
                        td= o.codigo
                        td= o.titulo
                        td= o.id
                        td= o.tipoPar
    hr
    form(method="get" action=`/`)
        button.w3-btn.w3-blue.w3-section(style="width: 100%" type="submit") 
            b Início
                  